@model SplashTrackWebApp.Areas.Identity.Data.SplashTrackUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "User Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Model.UserName</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">First Name</dt>
                <dd class="col-sm-9">@Model.FirstName</dd>

                <dt class="col-sm-3">Middle Name</dt>
                <dd class="col-sm-9">@Model.MiddleName</dd>

                <dt class="col-sm-3">Last Name</dt>
                <dd class="col-sm-9">@Model.LastName</dd>

                <dt class="col-sm-3">Date of Birth</dt>
                <dd class="col-sm-9">@Model.DateOfBirth.ToString("yyyy-MM-dd")</dd>

                <dt class="col-sm-3">Email Confirmed</dt>
                <dd class="col-sm-9">@Model.EmailConfirmed</dd>
            </dl>

            <div class="d-flex gap-2">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="bi bi-pencil"></i> Edit
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                    <i class="bi bi-trash"></i> Delete
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>
