@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin";

    var IconSize = "fs-1";
}

<div class="container text-center">
    <h1>@ViewData["Title"] Panel</h1>
    <div class="row-cols-5">
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2"><i class="bi bi-people-fill @IconSize"></i><br />Users</a>
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2"><i class="bi bi-eyeglasses @IconSize"></i><br />Teachers</a>
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2"><i class="bi bi-backpack-fill @IconSize"></i><br />Students</a>
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2"><i class="bi bi-book-half @IconSize"></i><br />Courses</a>
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2 disabled"><i class="bi bi-geo-alt-fill @IconSize"></i><br />Locations</a>
        <a class="btn btn-primary btn-lg p-xxl-5 rounded-5 m-2 disabled"><i class="bi bi-gear-fill @IconSize"></i><br />Configuration</a>
    </div>
 
</div>